<!--@+leo-ver=5-thin-->
<!--@+node:peckj.20130228101737.1631: * @file _footer.html-->
<!--@@language xml-->
<!--@@tabwidth -2-->
<!--@+others-->
<!--@+node:peckj.20130228101737.1632: ** hr-->
{# code for your footer goes here #}
<footer>
  <hr />
  Jake Peck 
  | 
<!--@+node:peckj.20130228101737.1633: ** a-->
<a href="{{ url_for('index') }}">suspended-chord.info</a> |  
<!--@+node:peckj.20130228101737.1634: ** a-->
<a href="mailto:suschord@suspended-chord.info">email</a>
<!--@-others-->
 | 
  all rights reserved unless otherwise noted
</footer>
<!--@-leo-->
