<!--@+leo-ver=5-thin-->
<!--@+node:peckj.20130228101737.1635: * @file _header.html-->
<!--@@language xml-->
<!--@@tabwidth -2-->
<!--@+others-->
<!--@+node:peckj.20130228101737.1636: ** div-->
{# code for your header goes here... nav, etc. #}
<header>
  <div id="headerdiv">
<!--@+others-->
<!--@+node:peckj.20130228101737.1637: *3* a-->

<a href="{{ url_for('index') }}">
<!--@+others-->
<!--@+node:peckj.20130228101737.1638: *4* img-->
<img id="logo" src="{{ url_for('static', filename="assets/img/logo.png") }}" />
<!--@-others-->
</a>
<!--@-others-->
</div>
  
<!--@+node:peckj.20130228101737.1640: ** hr-->
<hr />
<!--@-others-->

</header>
<!--@-leo-->
