<!doctype html>
<!--@+leo-ver=5-thin-->
<!--@+node:peckj.20130228101737.1617: * @file ceekrt/templates/base.html-->
<!--@@first-->
<!--@@language xml-->
<!--@@tabwidth -2-->

<html>
<head>
  <!--@+<< meta >>-->
  <!--@+node:peckj.20130228101737.1694: ** << meta >>-->
  <meta charset="utf-8">
  {% block meta %}
  {% if page %}
    {% with page = page %}
      {% include "_meta.html" %}
    {% endwith %}
  {% endif %}
  {% endblock meta %}
  <!--@-<< meta >>-->
  <!--@+<< style >>-->
  <!--@+node:peckj.20130228101737.1695: ** << style >>-->
  {% include "_style.html" %}
  <!--@-<< style >>-->
  <!--@+<< js >>-->
  <!--@+node:peckj.20130228101737.1696: ** << js >>-->
  {% include "_js.html" %}
  <!--@-<< js >>-->
  <!--@+<< title >>-->
  <!--@+node:peckj.20130228101737.1697: ** << title >>-->
  {% block title %}
  <title>ceekrt</title>
  {% endblock title %}
  <!--@-<< title >>-->
</head>

<body>
  <div class="container">
    <!--@+<< header >>-->
    <!--@+node:peckj.20130228101737.1698: ** << header >>-->
    {% block header %}
      {% include "_header.html" %}
    {% endblock header %}
    <!--@-<< header >>-->
    <!--@+<< flash >>-->
    <!--@+node:peckj.20130228101737.1701: ** << flash >>-->
    {% block flash %}
      {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
          {% for category, message in messages %}
            <div id="{{ category }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    {% endblock flash %}
    <!--@-<< flash >>-->
    <!--@+<< content >>-->
    <!--@+node:peckj.20130228101737.1699: ** << content >>-->
    {% block content %}
      <p>some content</p>
    {% endblock content %}
    <!--@-<< content >>-->
    <!--@+<< footer >>-->
    <!--@+node:peckj.20130228101737.1700: ** << footer >>-->
    {% block footer %}
      {% include "_footer.html" %}
    {% endblock footer %}
    <!--@-<< footer >>-->
  </div>
</body>

</html>

<!--@-leo-->
