<!--@+leo-ver=5-thin-->
<!--@+node:peckj.20130315105826.1541: * @file ceekrt/templates/contact.html-->
<!--@@language xml-->
<!--@@tabwidth -2-->

{% extends "base.html" %}
{% block title %}
<title>contact | ceekrt</title>
{% endblock title %}

{% block content %}
<p>Have something to say about ceekrt?  Want to complain, praise, or make a suggestion?</p>

<p>Drop me a line at <a href="mailto:suschord@suspended-chord.info">suschord@suspended-chord.info</a>.
I'll reply as soon as I get it.</p>
{% endblock content %}
<!--@-leo-->
