<!--@+leo-ver=5-thin-->
<!--@+node:peckj.20130315105826.1542: * @file ceekrt/templates/privacy.html-->
<!--@@language xml-->
<!--@@tabwidth -2-->

{% extends "base.html" %}
{% block title %}
<title>privacy | ceekrt</title>
{% endblock title %}

{% block content %}
<p>This notice is subject to change at any time.</p>

<p>All content of this site is posted anonymously, and is the responsibility
of the user who posted it.  ceekrt and Jacob Peck hold no responsibility
for the content of this site.</p>

<p>To report a post, please use the "report this ceekrt" button next to the
offending post.</p>

<p>Neither ceekrt nor Jacob Peck collect any information about users of this
site, aside from some accesslogs which are tied to an IP address.  ceekrt
conducts no cookie tracking or anything else to track its users.</p>

<p>Any legal inquiries may be forwarded to <a href="mailto:suschord@suspended-chord.info">suschord@suspended-chord.info</a>
with a subject line beginning with "[LEGAL] [CEEKRT] -".  I will comply to the
fullest extent possible should a valid problem arise.</p>

<p>Users of this site do so at their own risk.  ceekrt is in a constant state of
change, and Jacob Peck holds the rights to remove any post at any time,
for any reason.  ceekrt comes without any warranty, either written or implied,
even without warranty for fitness of purpose.  For more information, or to
place an inquiry, <a href="{{ url_for('contact') }}">contact</a> me.</p>

<p>15March2013</p>
{% endblock content %}
<!--@-leo-->
